<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= data.domain %> - <%= data.meta.description %>" />
    <title><%= data.domain %> - <%= data.meta.title %></title>
    <script data-ad-client="ca-pub-2325580012296666" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<script>
    console.log(<%= data %>);
</script>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        Produkht
    </a>
    <div class="navbar-nav mr-auto">
    </div>
</nav>
<div class="container mt-3">
<div class="list row">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">https://</span>
            </div>
            <input
                    type="text"
                    class="form-control"
                    placeholder="Domain.com"
            />
            <div class="input-group-append">
                <button
                        class="btn btn-outline-secondary"
                        type="button"
                >
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <img class="card-img-top" src=<%= data.meta.image %> />
            <div class="card-body">
                <h5 class="card-title"><%= data.meta.title %></h5>
                <p class="card-text"><%= data.meta.description %></p>
                <p class="card-text"><small class="text-muted"><%= data.domain %></small></p>
            </div>
        </div>
    </div>
</div>
<div class="list row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-white bg-primary">
                <h3>HTTP Headers</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <% for (const property in data.meta.headers) { %>
                        <li class="list-group-item"> <%= property %>: <%= data.meta.headers[property] %> </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="list row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>Domain Whois</h3>
            </div>
            <div class="card-body">
                               <pre>
                                 <%= data.whois %>
                               </pre>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/"> Produkht.com</a>
    </div>
</footer>
</body>
</html>




